
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: #111;
}
html {
  overflow-y: scroll;
}
.menu_wrapper {
  position: relative;
  width: 100vw;
  background: #272727;
  height: 94px;
  display: flex;
}
.phrase {
line-height: 1.2;
display: flex;
align-items: center;
text-align: left;
font-size: 26px;
color: #fff;
text-transform: uppercase;
padding-left: 25px;
font-family: "Poppins", sans-serif;
font-weight: bold;
}
.hightLight {
  padding-left: 4px;
  color: #8a2be2;
  font-family: "Poppins", sans-serif;

}
.bg-text {
  display: none;
}
.burger {
  margin: 25px;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 54px;
  height: 44px;
  font-size: 0;
  box-shadow: none;
  cursor: pointer;
  z-index: 10;
  background-color: #272727;
  border-radius: 5px;
  border: none;
}
.burger:focus {
  outline: none;
}
.burger span {
  width: 44px;
  display: block;
  position: absolute;
  top: 20px;
  left: 5px;
  right: 5px;
  height: 2px;
  background: #fff;
}
.burger span::before, .burger span::after {
  position: absolute;
  display: block;
  left: 0;
  width:44px;
  height:2px;
  background: #fff;
  content: "";
}
.burger span::before {
  top: 10px;
}
.burger span::after { 
  bottom: 10px;
}
.burger_line span{
transition: backgraound 0s 0.3s;
}
.burger span::before, .burger span::after { 
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s 0s;
}
.burger_line span::before{ 
  transition-property: top, transform;
} 
.burger_line span::after { 
  transition-property: bottom, transform;
}

.burger_line.is-active span {
  background: none;
}
.burger_line.is-active span::before  {
  top: 0;
  transform: rotate(-45deg);
}
.burger_line.is-active span::after  {
  bottom: 0;
  transform: rotate(45deg);
}
.burger_line.is-active span::before,.burger_line.is-active span::after {
  transition-delay: 0s, 0.3s ;
}
#menu {
  width: 100%;
  margin-left: -100%;
  background: #272727;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  transition: all ease 1s;
  z-index: 9;
}
.list {
  width: 80vw;
  margin: 0 auto;
  margin-top: 70px;
  list-style: none;
}
.list_item {
  padding: 10px;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  border-bottom: 0.5px solid grey;
  width: 100%;
  margin: 10px;
}
.list_item-link {
  color: white;
  fill: white;
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: 900;
  font-family: "Poppins", sans-serif;

}
.list_item_navigation-icon {
  height: 18px;
  width: 18px;
margin-right: 15px;}
.contact {
  fill: #8a2be2;
  color: #8a2be2;
}

.menu_wrapper-active {
margin-left: 300px;
}
#menu.nav-active {
margin-left: 0;  
}
/* end of the header */
.main_section--wrapper {
  padding: 25px 25px 25px 25px;
}
.article {
  text-transform: uppercase;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 21px;
  font-weight: 500;
  padding-bottom: 22px;

}
.article_text {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 30px;
}
.contact_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
  max-width: 100%;
}
.container_svg--wrapper{
width: 33px;  
height: 33px;
margin-right: 15px;

}
.container_contact--info {

  height: 33px;
}
#contact_in, #telephone_in {
  padding: 0;
  display: block;
  fill: #8a2be2;
  width: 33px;
  height: 33px;
}
#telephone_in {
  cursor: pointer;

}
.contact_info--textTop {
text-transform: uppercase;
font-family: 'Open Sans', sans-serif;
font-size: 14px;
color: #fff;
margin-bottom: 3px;
opacity: 0.8;
font-weight: 400;

}
.contact_info--text {
font-size: 14px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.icon_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}
.contact-icons {
  padding: 7px;
  margin-right: 20px;
  padding: 0;
  display: block;
  fill: #252525;
  width: 33px;
  height: 33px;
  background-color: #fff;
  border-radius: 7px;
}
/* main section starts */
/* bottom section starts*/

  form  {
  width: 100%;
  }
  .upinput_text {
  color: #505050;
  text-align: center;
  margin-bottom: 65px;
  font-style: italic;
  font-family: "Droid-serif",sans-serif;
  } 
  .contact-input  {
  border: 1px solid #111;
  background-color: #252525;
  outline-offset: -2px;
  padding-left: 20px;
  margin-left: 1px;
  width: 100%;
  height: 40px;
  margin-bottom: 30px;
  font-family: "Montserrat",sans-serif;
  font-weight: bold;
  color: #dad8d8;
  font-size: 10px;
  border-radius: 30px;
  outline: 4px solid transparent;
  border: none;
  box-sizing: border-box;
  transition: outline-color 0.1s;
  }
  
  textarea {
  outline-offset: -2px;
  padding-left: 20px;
  padding-top: 18px;
  width: 100%;
  height: 160px;
  color: #dad8d8;
  font-family: "Montserrat",sans-serif;
  font-weight: bold;
  border: 1px solid #111;
  background-color: #252525;
  border-radius: 30px;
  outline: 4px solid transparent;
  box-sizing: border-box;
  transition: outline-color 0.1s;
  }
  
  .contact-submit
  {
    display: flex;
    justify-content: center;
    margin: 30px auto;
    border-radius: 26px;
    font-weight: 500;
    height: 46px;
    line-height: 46px;
    font-size: 15px;
    text-transform: uppercase;
    background-color:  #8a2be2;
    color: #fff;
    padding: 0 40px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .5px;
    border: 0;
    cursor: pointer;
  }
  
  input[type="email"]:focus:invalid,
  textarea[name="body"]:focus:invalid,
  input[name="name"]:focus:invalid {
  outline-color: red;
  transition: outline-color 5s;
  }
  
  input[type="email"]:focus:valid,
  textarea[name="body"]:focus:valid,
  input[name="name"]:focus:valid {
  outline-color: green;
  transition: outline-color .4s;
  }
  
  .contact-input,
  .contact-textarea {
    box-sizing: border-box;
    /* width: 455px; */
    outline: 4px solid transparent;
    outline-offset: -2px;
    transition: outline-color 0.1s;
  } 
  .contact-text {
    display: none;
  }
  @media (min-width: 768px) {
  
    .menu_wrapper {
      margin-top: 69px;
      background-color: transparent;
    }
    .phrase {
      display: flex;
      font-size: 56px;
      padding: 0;
      margin: 0 auto;
 }
    .bg-text {
    text-align: center;
    display: block;
    font-size: 110px;
    left: 0;
    letter-spacing: 10px;
    line-height: 0.7;
    position: absolute;
    right: 0;
    top: 50%;
    color: #fff;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: bold;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.07);
    }
    .hightLight {
      padding: 0;
    }
    .contact-text {
      display: block;
      font-size: 110px;
    left: 0;
    letter-spacing: 10px;
    line-height: 0.7;
    position: absolute;
    right: 0;
    top: 50%;
    text-transform: uppercase;
    font-weight: 800;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.07);
}
    .title {
      padding: 40px 0 40px 0;
      text-align: center;
      width: 100%;
      font-size: 56px;
    }
    .main_section--wrapper {
      padding-left: 50px;
      padding-right: 50px;
    }
    .contact-inputs {
      display: flex;
      justify-content: space-between;
    }
    .contact-input {
      width: 30%;
    }
  }
@media (min-width: 968px) {
  .page_wrapper {
    width: 70%;
    margin: 0 auto;
  }
  .menu_wrapper {
    width: 70%;
    margin: 0 auto;
    padding: 100px;

  }
  .phrase {
    margin: 0 auto;
    max-width: 100%;
  }
  .bg-text {
    max-width: 100%;

  }
  .main_section--wrapper {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
  }
  .main_section{ 
   width: 27%; 
  }
  .article {
    font-size: 26px;
  }
  
  .contact_info--text {
    font-size: 15px;
    overflow: auto;
  }
  .article_text {
    font-size: 15px;
  }
  .input_aria--wrapper{
  width: 55%;
  }
  
  .contact-input {
    height: 45px;
  }
  .contact-submit {
    margin: 0;
    margin-top: 2.7rem;
  }
  .burger {
    display: none;
  }
#menu {
  margin:0;
  padding: 0;
  width: 12%;
  height: 30%;
  position: fixed;
  top:30%;
  left:82%;
  background: transparent;
}
.list {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}
.list_item {
  border-radius: 25px;
  border: none;
}
.list_item-link {
  padding-left: 7px;
  display: flex;
  font-size: 20px;
  font-weight: normal;
  align-items: center;
  border-radius: 25px;  
  margin: 0;
  position: relative;
  width: 160px;
  height: 50px;
 background-color: #111;
 

}
.home {
color: white;
}
.list_item_navigation-icon {
  width: 50px;
  height: 50px;
  padding: 10px;
  background-color: #252525;
  border-radius: 25px;
  transition: 2s;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  fill: white;
  margin: 0;
}
.contact {
  fill: white;
  background-color: #8a2be2;
  color: #fff;
}


.list_item-link:hover .list_item_navigation-icon{
  fill: white;
  background-color: #8a2be2;
  transition: 2s;
} 


.overLay{
        border-radius: 25px;
        width: 220px;
        height: 50px;
        background: #111;
        background-position: right top;
        -webkit-transition: width .7s;
        position:absolute;
        top:0; left:0;
        bottom: 0;
        z-index: 0;
}
.list_item-link:hover .overLay{
 width: 0px;
} 
.list_item-link:hover {
  background-color: #8a2be2;
  border: none;
}
.contact-icons:hover {
  fill: #8a2be2;
}  
}