* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #111;
}
#menuToggle {
  display: block;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1;
  padding: 6px;
  border-radius: 10px;
  background-color: #252525;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle a:hover {
  color: #8a2be2;
  fill: #8a2be2;
}
#menuToggle input {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 5px;
  left: 10px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
/*
  * Just a quick hamburger
  */
#menuToggle span {
  display: block;
  width: 33px;
  height: 2px;
  margin: 7px;

  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  color: white;
}

/*
  * But let's hide the middle one.
  */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
  * Ohyeah and the last one should go the other direction
  */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
  * Make this absolute positioned
  * at the top left of the screen
  */
#menu {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10%;
  padding-top: 15%;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  background: #252525;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
  * And let's slide it in from the left
  */
#menuToggle input:checked ~ ul {
  transform: none;
}
.list_item {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  border-bottom: 0.5px solid grey;
  width: 80%;
}
.list_item-link {
  color: white;
  fill: white;
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: bold;
}
.list_item_navigation-icon {
  height: 18px;
  width: 18px;
  padding-right: 15px;
}
.home {
  fill: #8a2be2;
  color: #8a2be2;
}
/* end of the header */

/* main section starts */
.content_wrapper {
display: flex;
flex-wrap: wrap;
align-items: center;
vertical-align: middle;
/* flex-direction: column; */
color: #fff;
padding-top: 10%;
height: 100vh;
}
/* .hello {
  text-align-last: left;
} */